<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="container-fluid">
    <div class="row">
        {%if albums%}
           {%for album in albums%}
              <div class="col-sm-3">
                  <div class="thumbnail">
                      <a href="{%url 'musical.detail' album.id%}">
                          <img src="{{album.album_cover.url}}" class="img img-responsive" alt="">
                      </a>

                      <div class="caption">
                          <h4 style>{{album.album_name}}</h4>
                          <h5>{{album.artist_name}}</h5>
                          <a href="" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                          <a href="" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                      </div>
                  </div>
              </div>
           {%endfor%}
        {%endif%}
    </div>
</div>
